
body {
    font-family: "Roboto";
}

.headerlogo,
.sign {
    width: 1100px;
}

.headerlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid blue; */
}

.sign {
    display: flex;
    /* border: 3px red solid; */
    height: 240px;
}

.section1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 > div {
    margin-bottom: 100px;
}

.section1 ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.awesome2 {
    font-size: 18px;
    color: #e5e7eb;
}

.holder {
    background-color: grey;
    display: flex;
    /* flex: 1 1 50%; */
    align-items: center;
    justify-content: center;
}
/* The below declaration gives an equal amount of space to each item in the 'sign' containter*/
.aweflex,
.holder {
    flex: 1;
}

.aweflex {
    padding-right: 75px;
}


button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

.box div{
    border: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.box-text.box {
    border: none
}

.box-width {
    display: flex;
    text-align: center;
}

.section2 {
    display: flex;
    border: solid red 5px;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    /* margin: 50px 0px; */
    padding: 50px 0px;
}

